<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href='../styles/style.css'>
        
    <!-- bootstrap link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
   

    <!-- bootstrap link -->
    
    <!-- icons -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <style>
    /* main content css*/
        .main-content{
            width: 100%;
            height: 90vh;
            background-image: url("./image/back.jpg");
            background-size: cover;
            
            background-position: 70%;
        }</style>
		<title>EventMan</title>
	</head>
	<body>
        <!-- navbar top -->
        <div class="container">
            <div class="navbar-top">
                <div class="social-link">
                    <i><img src="./image/twitter.png" alt="" width="30px"></i>
                    <i><img src="./image/facebook.png" alt="" width="30px"></i>
                    <i><img src="./image/google-plus.png" alt="" width="30px"></i>
                </div>
                <div class="logo">
                    <h3>EventMan</h3>
                </div>
                <div class="icons">
                    <i><img src="./image/search.png" alt="" width="20px"></i>
                    <i><img src="./image/heart.png" alt="" width="20px"></i>
                    <i><img src="./image/shopping-cart.png" alt="" width="25px"></i>
                </div>
            </div>
        </div>
        <!-- navbar top -->
    
        <!-- main content -->
        <div class="main-content">
            <nav class="navbar navbar-expand-md" id="navbar-color">
               <div class="container">
                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                  <span><i><img src="./image/menu.png" alt="" width="30px"></i></span>
                </button>
              
                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#services-section">Services</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#events-section">Events</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#about-us-section">About Us</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                  </ul>
                </div>
               </div> 
              </nav>
    
    
              <div class="content">
                <h1>Celebrate Your Special Event
                    <br> Let Us Help You Plan And Organize.
                </h1>
                <p></p>
                <div id="btn1"><a href="#events-section"><button>Browse Now</button></a></div>
              </div>
              
        </div>
        <!-- main content -->
    
        <!-- card1 -->
        <div class="container" id="events-section">
            <h3 class="text-center" style="padding-top: 30px;">EVENTS WE ORGANIZE</h3>
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card">
                        <img src="./image/wedding.jpeg" alt="" class="card image-top" height="200px">
                        <div class="card-body">
                            <h5 class="card-titel text-center">WEDDING</h5>
                            <p class="text-center"> we understand that your wedding day is one of the most significant milestones in your life. Our mission is to turn your wedding dreams into a beautiful reality, ensuring that every detail is meticulously planned and flawlessly executed.</p>
                            <div id="btn2" class="text-center"><button>View More</button></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card">
                        <img src="./image/birthday.jpeg" alt="" class="card image-top" height="200px">
                        <div class="card-body">
                            <h5 class="card-titel text-center">BIRTHDAY</h5>
                            <p class="text-center">At EventMan, we believe that every birthday deserves to be celebrated in style. Whether you're turning one or one hundred, our team of experienced event organizers is here to make your birthday dreams come true.</p>
                            <div id="btn2" class="text-center"><button>View More</button></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card">
                        <img src="./image/meeting.jpeg" alt="" class="card image-top" height="200px">
                        <div class="card-body">
                            <h5 class="card-titel text-center">MEETINGS</h5>
                            <p class="text-center"> we understand the significance of seamlessly executed meetings and impactful seminars. With a passion for precision and an eye for detail, we specialize in curating memorable experiences tailored to your unique needs.</p>
                            <div id="btn2" class="text-center"><button>View More</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- card1 -->
    
        <!-- card2 -->
        <div class="container">
            <div class="row" style="margin-top: 100px;">
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card" id="tpc">
                        <img src="./image/concerts.jpeg" alt="" class="card image-top">
                        <div class="card-img-overlay">
                            <h4 class="card-titel">CONCERTS</h4>
                            <p class="card-text"></p>
                            <div id="btn2"><button>View More</button></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card" id="tpc">
                        <img src="./image/sports.jpeg" alt="" class="card image-top">
                        <div class="card-img-overlay">
                            <h4 class="card-titel">SPORTS</h4>
                            <p class="card-text"></p>
                            <div id="btn2"><button>View More</button></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- card2 -->
    
        <!-- card3 -->
        <div class="container" id="services-section">
            <h3 class="text-center" style="margin-top: 50px;">SERVICES WE OFFER</h3>
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-3 py-3 py-md-0">
                    <div class="card" id="c">
                        <img src="./image/rose.jpeg" alt="" class="card image-top">
                        <div class="card-body">
                            <h3 class="card-titel text-center">PETALS BLAST</h3>
                            <p class="card-text text-center">$100</p>
                            <div id="btn3"><button>Shop Now</button></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 py-3 py-md-0">
                    <div class="card" id="c">
                        <img src="./image/sets.jpeg" alt="" class="card image-top">
                        <div class="card-body">
                            <h3 class="card-titel text-center">DECORATIONS</h3>
                            <p class="card-text text-center">$1050</p>
                            <div id="btn3"><button>Shop Now</button></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 py-3 py-md-0">
                    <div class="card" id="c">
                        <img src="./image/food.jpeg" alt="" class="card image-top">
                        <div class="card-body">
                            <h3 class="card-titel text-center">CATERING</h3>
                            <p class="card-text text-center">$700.20</p>
                            <div id="btn3"><button>Shop Now</button></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 py-3 py-md-0">
                    <div class="card" id="c">
                        <img src="./image/photographer.jpeg" alt="" class="card image-top">
                        <div class="card-body">
                            <h3 class="card-titel text-center">PORTRAITIST</h3>
                            <p class="card-text text-center">$500</p>
                            <div id="btn3"><button>Shop Now</button></div>
                        </div>
                    </div>
                </div>
            </div>
    
    
    
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-3 py-3 py-md-0">
                    <div class="card" id="c">
                        <img src="./image/artist.jpeg" alt="" class="card image-top">
                        <div class="card-body">
                            <h3 class="card-titel text-center">SKETCH ARTIST</h3>
                            <p class="card-text text-center">$250</p>
                            <div id="btn3"><button>Shop Now</button></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 py-3 py-md-0">
                    <div class="card" id="c">
                        <img src="./image/fungames.jpeg" alt="" class="card image-top">
                        <div class="card-body">
                            <h3 class="card-titel text-center">GAMES</h3>
                            <p class="card-text text-center">$500</p>
                            <div id="btn3"><button>Shop Now</button></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 py-3 py-md-0">
                    <div class="card" id="c">
                        <img src="./image/destination.jpeg" alt="" class="card image-top">
                        <div class="card-body">
                            <h3 class="card-titel text-center">VENUES</h3>
                            <p class="card-text text-center">$1000</p>
                            <div id="btn3"><button>Shop Now</button></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 py-3 py-md-0">
                    <div class="card" id="c">
                        <img src="./image/crew.jpeg" alt="" class="card image-top">
                        <div class="card-body">
                            <h3 class="card-titel text-center">BEST CREW</h3>
                            <p class="card-text text-center">$500</p>
                            <div id="btn3"><button>Shop Now</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- card3 -->
    
        <!-- about -->
        <div class="container" id="about-us-section">
            <h1 class="text-center" style="margin-top: 50px;">ABOUT US</h1>
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-6 py-3 py-md-0">
                    <div class="card">
                        <img src="./image/aboutus.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 py-3 py-md-0">
                    <p>EventMan is not just about organizing events; it's about making a difference. We are proud to be a socially responsible company that is dedicated to giving back to the less fortunate. As part of our commitment to making a positive impact, we donate 10 percent of our profits to support impoverished communities 
                        <br>At EventMan, we believe that every occasion is an opportunity to create unforgettable memories. Founded on the principles of creativity, professionalism, and passion, we specialize in bringing your vision to life and crafting extraordinary events that leave a lasting impression.
                        <br>Creativity: We thrive on creativity and innovation, constantly pushing the boundaries to deliver fresh and imaginative event concepts that captivate and inspire.
                        Attention to Detail: We believe that success lies in the details. From meticulous planning to flawless execution, we leave no stone unturned to ensure every aspect of your event is executed to perfection.
                        
                    </p>
                    
                    
                </div>
            </div>
        </div>
        <!-- about -->
         
        <!-- footer -->
        <footer id="footer">
            <h1 class="text-center">EventMan</h1>
            <p class="text-center">Celebrate your special event, let us help you plan and organize.</p>
            <div class="icons text-center">
                <i class="bx bxl-twitter"></i>
                <i class="bx bxl-facebook"></i>
                <i class="bx bxl-google"></i>
                <i class="bx bxl-skype"></i>
                <i class="bx bxl-instagram"></i>
            </div>
            <div class="copyright text-center">
                &copy; Copyright <strong><span>EventMan</span></strong>. All Rights Reserved
            </div>
        </footer>
        <!-- footer -->
    
        <script>document.addEventListener("DOMContentLoaded", function() {
            const navbarToggle = document.querySelector(".navbar-toggler");
            const navbarCollapse = document.querySelector("#collapsibleNavbar");
        
            navbarToggle.addEventListener("click", function() {
                navbarCollapse.classList.toggle("show");
            });
        });
        </script>
    
    
    </body>
</html>
